/* color palette */
.light-theme {
    .admin-users-table {
        background: $white;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.02);
        color: $black;

        .table-header {
            background-color: $grey-2;
        }
    }
}

.dark-theme {
    .admin-users-table {
        background-color: $dark-1;
        color: $white;

        .table-header {

            background-color: $dark-2;
        }
    }
}
