$white: #ffffff;
$black: #000000;
$main-green: #4eac8f;
$main-darkblue: #0d1f2b;
$blue:#1595ff;
$red: #eb5757;
$pink: #ffa7a7;
$yellow: #ede86c;


$grey-1: #e1e3e7;
$grey-2: #f7f7f7;
$grey-3:#858989;
$grey-4: #9ea5aa;
$grey-5: #9ba2af;
$grey-6: #eaeaea;
$grey-7: #dddfe3;
$grey-8: #c6c9cd;
$grey-9: #8f9ea8;
$grey-10: #ebefee;
$grey-11: #F2F2F2;

$darkgrey: #5f666c;
$greyblue: #627786;

$darkblue-1: #1e303d;
$darkblue-2: #0d1f2b;
$darkblue-3: #2d373e;
$light-green: #e2f5f0;
$light-yellow: #fffdcc;

$main-green-lighter: rgba(78, 172, 143, 0.1);
$grey-3-lighter: rgba(133, 137, 137, 0.1);
$darkgrey-lighter: rgba(95, 102, 108, 0.1);

// modal
$modal-mask: rgba(0, 0, 0, 0.4);


$shadow-6: 0px 5px 10px rgba(22, 22, 22, 0.08);

// Dark theme color
$main-dark: #09161E;
$dark-1: #0d1f2b;
$dark-2: #081116;
