.main-navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 260px;
    height: 100vh;
    padding: 25px 30px 30px;
    border-radius: 0px 50px 0px 0px;
    transition: all .15s linear;
    z-index: 2;

    &_logo {
        font-family: 'Avenir', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 26px;
    }

    &_menu {
        margin-top: 150px;
    }

    &_menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 46px;
        padding: 0 30px;

        &.router-link-exact-active {
            border-radius: 10px;
        }
    }

    &_signout {
        margin-top: 30px;
        height: 46px;
        margin-right: auto;
        padding-left: 30px;
    }

    .menu-toggle {
        display: none;
    }
}

.pro-features {
    max-width: 200px;
    width: 100%;
    margin-top: auto;
    min-height: 240px;
    flex-grow: 0;

    &_loader {
       width: 100%;
       height: 100%;

        .loader-normal {
            padding: 0;
            align-items: center;
        }
    }

    .subsriptions-label {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 24px;
        text-transform: uppercase;
        padding: 0 6px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    ul {
        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 9px;

            &:before {
                content: '\2713';
                width: 13px;
                height: 13px;
                border-radius: 50%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-right: 7px;
                font-size: 15px;
            }
        }
    }
}

/* color palette */
.light-theme,
.dark-theme {
    .main-navigation {
        background-color: $main-darkblue;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.03);

        &_logo {
            color: $main-green;
        }

        &_menu-item {
            color: $grey-4;

            svg {
                fill: $grey-4;
            }

            &.router-link-exact-active {
                color: $white;
                background: $darkblue-1;

                svg {
                    fill: $white;
                }
            }
        }

        &_signout {
            color: $grey-4;

            svg {
                fill: $grey-4;
            }
        }
    }

    .pro-features {
        background-color: $white;

        .subsriptions-label {
            background-color:  $main-green;
            opacity: 0.7;
            color: $white;
        }

        ul {
            li {
                &:before {
                    background: $light-green;
                    color: $main-green;
                }
            }
        }
    }
}

.dark-theme {
    .pro-features {
        .f-black {
            color: $black;
        }
    }
}

/* mobile */
@media all and (min-width: 320px) and (max-width: 767px) {
    .main-navigation {
        position: absolute;
        transform: translateX(-260px);

        &_menu {
            margin-top: 50px;
        }

        .menu-toggle {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 40px;
            right: -30px;
            font-size: 19px;
            top: 100px;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
            cursor: pointer;
            z-index: 2;
        }

        &.show {
            transform: translateX(0px);
        }
    }

    .light-theme {
        .main-navigation {
            .menu-toggle {
                background-color: $main-darkblue;
            }
        }
    }

    .dark-theme {
        .main-navigation {
            .menu-toggle {
                background-color: $dark-1;
            }
        }
    }
}
