.color-picer-modal {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

    div {
        .hu-color-picker{
            width: 220px !important;
        }
    }

    .close-modal {
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: 3px;
        position: absolute;
        right: -24px;
        top: -24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* color palette */
.light-theme,
.dark-theme {
    .color-picer-modal {
        background-color: rgba(0, 0, 0, 0.4);

        .close-modal {
            border: 2px solid $white;
        }
    }
}
